*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html{

    font-size: 10px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right,#7caf97,#d4ca89);
}
@media  (max-width: 500px) {
    body {
      margin-top: 20vh;
      height: unset;
      display: block;
    }
  }
.carousel{
  align-items: center;
  display: flex;
  margin: 2rem auto;  
  overflow: hidden;
  position: relative;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.carousel-images{
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}
img{
  border-radius: 5px; 
  width: 500px;
  height: 500px; 
  object-fit: cover;
  
}
.carousel-button-previous{
background: teal;
border: 0;
border-radius: 50%;
color: white;
cursor: pointer;
font-size: 1.5rem;
font-weight: bold;
height: 3rem;
opacity: 0.25;
position: absolute;
transition: opacity 0.25s;
width: 3rem;
z-index: 1;
left: 5px;
}
.carousel-button-next{
    background: teal;
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
    right:5px;
    }
    .carousel-button-next:hover{
        opacity: 0.5;
    }
    .carousel-button-previous:hover{
        opacity: 0.5;
    }
